body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* header + nav */

header {
  display: flex;
  justify-content: center;
  height: 120px;
}

.head-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.logo {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

nav ul,
nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
}

nav a {
  display: block;
  text-decoration: none;
  padding: 16px;
  color: #888;
  transition: all 0.2s ease-in;
}

nav .active,
nav a:hover {
  background-color: #42b3e5;
  color: white;
}

/* banner */

#banner {
  display: flex;
  justify-content: center;
  background-image: url(assets/img1.jpg);
  background-position: center;
  background-size: cover;
  height: 700px;
}

.section-container {
  display: flex;
  flex-direction: column;
  width: 990px;
}

.banner_headline {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner_headline h1 {
  color: #fff;
  font-size: 50px;
  text-shadow: 0px 1px 0px #555;
  margin: 0;
  padding: 0;
  max-width: 350px;
}

.banner_headline h2 {
  color: #fff;
  font-size: 19px;
  font-weight: 300;
  text-shadow: 0px 1px 0px #555;
  margin: 0;
  padding: 0;
  max-width: 350px;
  margin-top: 30px;
}

.banner_options {
  height: 210px;
  display: flex;
}

.banner1,
.banner2,
.banner3 {
  flex: 1;
  color: #fff;
  padding: 20px;
}

.banner1 {
  background-color: #42b3e5;
}

.banner2 {
  background-color: #0384ce;
}

.banner3 {
  background-color: #3156a3;
}

.banner_title {
  font-size: 21px;
}

.banner_desc {
  font-size: 13px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.banner_button a {
  text-decoration: none;
  padding: 8px;
  border: 1px solid #fff;
  color: #fff;
  transition: all 0.2s ease-in;
}

.banner_button a:hover {
  background-color: #fff;
  color: #0384ce;
}

.hours {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #4468b2;
  font-size: 14px;
  padding: 2px;
}

.hours p {
  margin: 10px;
}

/* geral */

#geral {
  display: flex;
  justify-content: center;
}

.geral-container {
  display: flex;
  width: 990px;
  height: 1050px;
}

#geral .sec1 {
  flex: 1;
}

#geral .sec2 {
  flex: 1;
}

#geral aside {
  flex: 1;
}

/* geral section 1 */

.geral-section-title {
  margin: 30px 0 0 0;
  padding-bottom: 12px;
  border-bottom: 3px solid #42b3e5;
  max-width: 100px;
}

.geral-section-title p {
  margin: 0;
  font-size: 18px;
}

.geral-section-headline {
  display: flex;
  margin-top: 30px;
  margin-bottom: 40px;
}

.date {
  padding: 12px;
  background-color: #3156a3;
}

.day {
  padding: 10px;
  background-color: #42b3e5;
}

.geral-section-headline p {
  margin: 0;
  font-size: 12px;
  color: #fff;
}

.geral-section-img {
  width: 300px;
  height: 190px;
  margin-bottom: 30px;
  background-color: black;
}

.geral-section-desc {
  max-width: 300px;
  margin: 0;
}

.gsd-title {
  font-size: 21px;
  margin: 0;
}

.gsd-desc {
  font-size: 12px;
  color: #666;
  margin: 30px 0 40px 0;
}

.geral-section-post {
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  max-width: 300px;
}

.geral-section-post p {
  margin: 0;
  font-size: 8px;
  color: #999;
  padding-bottom: 30px;
}

/* geral section 2*/

.sec2-box {
  max-width: 300px;
  border-bottom: 1px solid #e0e0e0;
}

.geral-sec2-headline {
  display: flex;
  margin-top: 96px;
  margin-bottom: 69px;
}

.geral-sec2-headline p {
  margin: 0;
  font-size: 12px;
  color: #fff;
}

.gsd-sec2-title {
  font-size: 21px;
  margin: 0;
}

.gsd-sec2-desc {
  font-size: 12px;
  color: #666;
  margin: 30px 0 30px 0;
}

.geral-sec2-post {
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  max-width: 300px;
}

.geral-sec2-post p {
  margin: 0;
  font-size: 8px;
  color: #999;
  padding-bottom: 30px;
}

.sec2-box2 {
  max-width: 300px;
}

.geral-sec2-box2-headline {
  display: flex;
  margin: 30px 0 30px 0;
}

.geral-sec2-box2-headline p {
  margin: 0;
  font-size: 12px;
  color: #fff;
}

.geral-sec2-img {
  background-color: black;
  height: 190px;
  width: 300px;
  margin-bottom: 30px;
}

.geral-sec2-show {
  display: flex;
  justify-content: flex-end;
}

.geral-sec2-show a {
  font-size: 10px;
  color: #3156a3;
  margin-top: 12px;
}

.geral-sec2-show a:hover {
  color: #0384ce;
}
/* geral aside */

.geral-aside-title {
  margin: 30px 0 0 0;
  padding-bottom: 12px;
  border-bottom: 3px solid #42b3e5;
  max-width: 100px;
}

.geral-aside-title p,
.geral-aside-headline p {
  margin: 0px;
  font-size: 18px;
}

.geral-aside-headline {
  margin-top: 30px;
  margin-bottom: 20px;
}

.geral-aside-headline p {
  color: #fff;
  background-color: #3156a3;
  padding: 12px;
}

.geral-aside-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.geral-aside-content p {
  color: #666;
  font-size: 12px;
}

.content_text {
  font-size: 8px;
  color: #666;
}

.content_btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.content_btn a {
  display: block;
  text-decoration: none;
  font-size: 10px;
  background-color: #3156a3;
  color: #fff;
  padding: 8px;
  margin-left: 6px;
  transition: all 0.2s ease-in;
}

.content_btn a:hover {
  background-color: #0384ce;
}

.content-options {
  margin-bottom: 60px;
}

.content-options p {
  font-size: 18px;
  color: #555;
  border-bottom: solid 1px #e0e0e0;
  margin: 0px;
  padding-bottom: 12px;
  padding-top: 12px;
}

#none-top {
  padding-top: 0px;
}

.content-final-headline p {
  font-size: 18px;
  margin: 0px;
  margin-bottom: 30px;
  border-bottom: 3px solid #42b3e5;
  padding-bottom: 12px;
}

.content-final-text p {
  font-size: 12px;
  color: #666;
  margin: 0px;
}

.content-final-text {
  margin-bottom: 30px;
}

.content-final-communicate p {
  margin: 0px;
  font-size: 12px;
}

.content-final-communicate a {
  color: #3156a3;
}

.content-final-communicate a:hover {
  color: #0384ce;
}

.phone,
.email,
.form {
  display: flex;
  align-items: center;
  border-top: 1px solid #e0e0e0;
  padding: 10px 0 10px 0;
}

.phone-box {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  background-color: #e0e0e0;
}

.email-box {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: #e0e0e0;
}

.form-box {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: #e0e0e0;
}

.form {
  border-bottom: 1px solid #e0e0e0;
}

/* footer */

footer {
  width: 100%;
  height: 500px;
  background-color: #202020;
}

#footer {
  display: flex;
  justify-content: center;
}

.footer-content {
  display: flex;
  width: 990px;
  height: 500px;
}

.footer1 {
  flex: 1;
}

.footer2 {
  flex: 1;
}

.footer3 {
  flex: 1;
}

.footer1-headline {
  height: 100px;
  background-color: #42b3e5;
}

.footer1-headline p,
.footer2-headline p,
.footer3-headline p {
  margin: 0;
  color: #fff;
}

.footer1-headline .fh1,
.footer2-headline .fh1,
.footer3-headline .fh1 {
  font-size: 18px;
  padding: 20px 0 10px 30px;
}
.footer1-headline .fh2,
.footer2-headline .fh2,
.footer3-headline .fh2 {
  font-size: 10px;
  padding: 5px 0 20px 30px;
}

.footer2-headline {
  height: 100px;
  background-color: #0384ce;
}

.footer3-headline {
  height: 100px;
  background-color: #3156a3;
}

/* footer 1 content*/

.footer1-content-headline {
  margin-top: 30px;
  border-bottom: 1px solid #42b3e5;
}

.footer1-content-headline p {
  margin: 0;
  font-size: 16px;
  padding-bottom: 10px;
  color: #fff;
}

.footer1-content-desc {
  max-width: 240px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer1-content-desc p {
  margin: 0;
  color: #666;
  font-size: 10px;
}

.footer1-content-contact {
  margin: 0;
  margin-bottom: 20px;
}

.footer1-content-contact p {
  margin: 0;
  color: #666;
  font-size: 10px;
}

.footer1-contact_number1,
.footer1-contact_number2 {
  display: flex;
  justify-content: space-between;
  max-width: 260px;
}

.footer1-contact_email {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
}

.footer1-contact_email a {
  font-size: 10px;
  color: #d5d5d5;
  text-decoration: none;
}

.footer1-contact_email a:hover {
  color: #fff;
}

.footer1-content-box {
  display: flex;
  margin: 0;
}

.footer1-boxes {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  background-color: #303030;
}

/* footer 2 content */

.footer2-content-headline {
  margin-top: 30px;
  border-bottom: 1px solid #42b3e5;
}

.footer2-content-headline p {
  margin: 0;
  font-size: 16px;
  padding-bottom: 10px;
  color: #fff;
}

.footer2-content-desc {
  margin: 0;
  margin-top: 20px;
  max-width: 300px;
}

.footer2-content-desc p {
  margin: 0;
  color: #d5d5d5;
  font-size: 10px;
}

#date-post {
  color: #42b3e5;
  font-size: 8px;
  margin-top: 6px;
}

/* footer 3 content */

.footer3-content-headline {
  margin-top: 30px;
  border-bottom: 1px solid #42b3e5;
}

.footer3-content-headline p {
  margin: 0;
  font-size: 16px;
  padding-bottom: 10px;
  color: #fff;
}

.footer3-content-desc {
  margin: 0;
  margin-top: 20px;
  max-width: 250px;
}

.footer3-content-desc p {
  margin: 0;
  color: #909090;
  font-size: 10px;
}

.footer3-content-desc a {
  color: #d5d5d5;
  text-decoration: none;
}

.footer3-content-desc a:hover {
  color: #fff;
  text-decoration: underline;
}

.f2-desc1,
.f2-desc2,
.f2-desc3,
.f3-desc1,
.f3-desc2,
.f3-desc3 {
  margin-bottom: 30px;
}

.footer1-content,
.footer2-content,
.footer3-content {
  height: 300px;
  border-bottom: 1px solid #353535;
}
